<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="header">
        <div class="title">Some Store</div>
    </div>
    <div id="categories">
        @{Html.RenderAction("Menu", "Navigation");  } 
    </div>
    <div id="content">
    @RenderBody()
    </div>
</body>
</html>
