@model SomeStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<center>
<h2>Products</h2>
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List",new{Page=x, category=Model.CurrentCategory}))
</div>
    @foreach(var p in Model.Products){
          Html.RenderPartial("ProductInList", p);
    }
        
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x=>Url.Action("List",new{page=x, category=Model.CurrentCategory}))
</div>

</center>